@font-face {
  font-family: "AmazObitaemOstrovV-2";
  src: url("/font/AmazObitaemOstrovV-2.eot?#iefix")
      format("embedded-opentype"),
    url("/font/AmazObitaemOstrovV-2.woff") format("woff"),
    url("/font/AmazObitaemOstrovV-2.ttf") format("truetype"),
    url("/font/AmazObitaemOstrovV-2.svg#AmazObitaemOstrovV.2")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: AmazObitaemOstrovV-2;
  font-size: 40px;
}

@media (min-width: 576px) {
  h1 {
    font-family: AmazObitaemOstrovV-2;
    font-size: 40px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
